#logo1 {
  position: absolute;
  width: 162px;
  height: 32px;
  left: 50%;
  top: 27px;
  font-family: "Roboto";
  font-weight: 100;
  font-size: 24px;
  line-height: 30px;
  align-items: center;
  color: #6c8ddf;
}
#rectangle {
  position: absolute;
  width: 440px;
  height: 399px;
  left: 50%;
  top: 232px;
  background: #406ddd;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 8px 0px 0px 8px;
}
#rectangle1 {
  position: absolute;
  width: 440px;
  height: 399px;
  left: 50%;
  top: 232px;
  background: #eaeaea;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 0px 8px 8px 0px;
}
.item1 {
  left: 50%;
  transform: translate(-100%, 0%);
}
#bigText {
  position: absolute;
  width: 297px;
  height: 72px;
  left: 15%;
  top: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  align-items: center;
  color: #ffffff;
}
#smallText {
  position: absolute;
  width: 309px;
  height: 72px;
  left: 15%;
  top: 150px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  color: #ffffff;
}
#emailField {
  position: absolute;
  width: 205px;
  height: 31px;
  left: 10%;
  top: 58px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}
#inputField {
  position: absolute;
  width: 284px;
  height: 32px;
  left: 10%;
  top: 100px;
  border: 0.5px solid rgba(105, 105, 105, 0.5);
  border-radius: 4px;
  font-size: 16px;
}
